* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: darkgrey;
}
.flexCentered {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.hi50 {
    height: 50px;
    background-color:rgba(0,0,0,.7);
    
}
.hi50 a{
    text-decoration: none;
    color: floralwhite;
    background-color: black;
    padding: 5px;
    
}

.big {
    text-align: center;
    color: white;
    background-color: crimson;
    padding: 50px;
    align-content: center;
    align-self: center;
    background-color: transparent;
}
.charsimg {
    width: 47%;
    float: left;
    object-fit: contain;
    background-color: blueviolet;
    bottom: auto;
}
.charimg h3{
    background-color: blueviolet;
}
.charsdesc h3{
    background-color: darkorange;
}
.chardesc {
    width: 47%;
    float: right;
    top: auto;
    background-color:darkorange;
    
}
h5 {
    text-align: center;
    text-shadow: 2px 1px gray;
    background: linear-gradient(darkred, crimson, darkred, crimson, darkred);
    padding: 30px;
    border: 100px;
    width: 65%;
}
#fly {
    height: 200px;
    position: absolute;
    left: -100px;
    animation: slide 5s;
    background-color: transparent;
}
@keyframes slide {
    0% { left: -50}
    25% { left: 500}
    75% { right: 500}
    100% { left: -500}
}